<html>
	<head>
		<title>OCR App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/viewForm.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>

    <header>
      <a class="logo">KingsVpunjaB</a>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/ocr">New</a></li>
          <% if(!currentUser){ %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">SignUp</a></li>
          <% } else{ %>
            <li><a href="/logout">LogOut</a></li>
            <% } %>
          <li><a href="/aboutus">AboutUs</a></li>
        </ul>
        <div class="menu-toggle">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </header>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.menu-toggle').click(function(){
          $('ul').toggleClass('active');
        })
      })
    </script>
    <!-- for navbar -->
    <script type="text/javascript">
		window.addEventListener("scroll", function(){
		  var header = document.querySelector("header");
		  header.classList.toggle("sticky", window.scrollY > 0)
		})
	  </script>



<section class="mybody">
    <div class="container">
        <div class="formBx">
            <form>
                <h2>Student Form</h2>
                <div class="inputBox">
                    <input type="text" name="data[name]" value="<%= data.name %>" readonly>
                        <span>Name</span>
                    
						<input type="text" name="data[rollno]" value="<%= data.rollno%>" readonly> 
                        <span>Rollno</span>
                    
						<input type="text" name="data[dept]" value="<%= data.dept %>" readonly>
                        <span style="margin-bottom: 20px;">Department</span>
                    <br/>
					<a class="mimic" href="/myform/<%= data.id %>/edit">Edit</a>
				</div>
			</form>
        </div>
        <div class="imgBx"></div>
    </div>
	</section>
	
	</body>
	</html>

	