body
{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: consolas;
}

.margin
{
	height: 200px;;
}

header ul li a
{
	font-size: 20px;
}
header ul li a:hover
{
	font-size: 27px;
}
header.sticky
{
	 padding: 20px 100px;
	 background: #001133;
}
header .logo:hover
{
	border-radius: 40px;
	padding: 20px 30px;
	font-size: 3em;
	background: #001133;
	color: #ffffb3;
}

.container
{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

.container .card
{
	position: relative;
}

.container .card .face1
{
  width: 300px;
	height: 200px;
	transform: 0.5;
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
	transition: 1s;
}
.container .card:hover .face1
{
	background: #ff0057;
	transform: translateY(0);
}

.container .card .face1 .content
{
	opacity: 0.2;
	transition: 0.5s;
}
.container .card:hover .face1 .content
{
	opacity: 1;
}
.container .card .face1 .content img
{
	max-width: 100px;
}

.container .card .face1 .content h3
{
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 1.3em;
}

.container .card .face2
{
  width: 300px;
	height: 200px;
	transform: 0.5;
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transition: 0.5s;
	transform: translateY(-100px);
}
.container .card:hover .face2
{
	transform: translateY(0);
}

.container .card .face2 .content p
{
	margin: 0;
	padding: 0;
}

.container .card .face2 .content a
{
	margin: 15px 0 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
}

.container .card .face2 .content a:hover
{
	background: #001133;
	color: #fff;
}


/* .content
{
    position: relative;
    background: #aebfe0;
    height: 100%;
    overflow: hidden;
}

.container {
    box-sizing: border-box;
    width: 33.3%;
    border: solid #5B6DCD 10px;
    padding: 5px;
    margin-top: 100px;
    background: #fff;
  }

.ul
{
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    list-style: none;
}

.column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 100px;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */