*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	overflow: hidden;
	background: white;
	min-height: 200vh;
}
header
{
	text-decoration: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
}
header.sticky
{
	 padding: 5px 100px;
	 background: #001133;
}
header .logo
{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.4s;
}
header .logo:hover
{
	border-radius: 40px;
	padding: 6px 15px;
	font-size: 3em;
	background: #001133;
	color: #ffffb3;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.3s;
}
header ul li a:hover
{
	/*border-radius: 40px;
	padding: 4px 12px;*/
	font-size: 23px;
	/*background: #001133;*/
	color: #ffffb3;
}
header.sticky .logo,
header.sticky ul li a
{
	color: #ffffb3;
}
.menu-toggle
{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media (max-width: 991px)
{
	header
	{
		padding: 0 20px;
	}
	.menu-toggle
	{
		font-size: 30px;
		display: block;
	}
	header ul
	{
		/*display: none;*/
		position: absolute;
		width: 100%;
		height: 30vh;
		color: #ffff80;
		transition: 0.5s;
		background: linear-gradient(180deg,#001133,transparent,#001133);
		top: 50px;
		left: -100%;
		display: block;
		text-align: center;
	}
	header ul.active
	{
		left: 0;
	}
	header ul li 
	{
		transition: 0.3s;
		padding: 10px;
		border-bottom: 1px solid rgba(99,99,99,.2);
	}
	header ul li a
	{
		font-size: 12;
		color: #fff;
		transition: 0.3s;
	}
	header ul li:hover
	{
		background: linear-gradient(90deg,#ffffb3,transparent);
	}
	header.sticky
	{
		 background: #001133;
	}
}
@media (max-width: 600px)
{
	header.sticky .logo
	{
		right: 40%;
	}
}


.banner
{
	z-index: 1000;
	position: relative;
	width: 100%;
	height: 110vh;
	background: url(/images/bg1.jpg);
	background-color: #ffff80;
	background-size: cover;
	background-position: bottom;
}
.banner .clouds
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.banner .clouds img
{
	position: absolute;
	bottom: 0;
	max-width: 100%;
	max-height: 50%;
	animation: animate calc(8s * var(--i)) linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: translateX(-100%);
	}
	100%
	{	
		transform: translateX(150%);
	}
}



.centered
{
    position: absolute;
    top: 50%;
	left: 50%;
    z-index:1000;
    transform: translate(-50%, -50%);
}
.box
{
	position: relative;
	top: 50%;
	/*transform: translate(-50%,-50%);*/
	width: 400px;
	padding: 20px;
	background: rgba(33, 200, 0, 0.281);
	box-sizing: border-box;
	box-shadow: 2px 15px 25px rgba(0,0,0,300);
	border-radius: 10px;
	transition: 0.4s;
}
.box h2{
	font-size: 50px;
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
	transition: 0.2s;
}
.box h4{
	font-size: 30px;
	color: rgb(150, 10, 10);
	text-align: center;
	transition: 0.2s;
}
.box .inputBox
{
	position: relative;

}
.box .inputBox input
{
	width: 100%;
	padding: 4px 0;
	font-size: 17px;
	background: rgba(0,0,0,.5);
	margin-bottom: 30px;
	border: none;
	outline: none;
	color: #fff;
	transition: 0.4s;
}
.box .inputBox label
{
	position: relative;
	top: 0;
	left: 0;
	padding: 4px 0;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	transition: 0.2s;
}
/* .box .inputBox label:hover
{
	font-size: 27px;
} */
.box input[type="submit"]
{
	background: rgba(0,0,0,.5);
	border: none;
	outline: none;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.2s;
}
.box .inputBox input:focus/* ~ label*/
{
	color: #fff;
	background: rgba(20,20,100,.5);
}
/*.box .inputBox input:focus ~ label
{
	top: 20px;
	left: 0;
	color: #03a9f4;
}
*/
.box .inputBox input:hover
{
	padding: 10px;
	background: rgba(20,20,100,.5);
}
.box input[type="submit"]:hover
{
	font-size: 25px;
	background: rgba(20,20,100,.5);
}
.box input[type="submit"]:focus
{
	background: rgba(200,0,0,.5);
}
.box:hover
{
	background: rgba(226, 213, 39, 0.452);
}
.box h2:hover
{
	font-size: 60px;
}
