*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	overflow: hidden;
	color: #000;
	background: #001133;
	min-height: 200vh;
}
header
{
	text-decoration: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
}
header.sticky
{
	 padding: 5px 100px;
	 background: #001133;
}
header .logo
{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.4s;
}
header .logo:hover
{
	border-radius: 40px;
	padding: 6px 15px;
	font-size: 3em;
	background: #001133;
	color: #ffffb3;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.3s;
}
header ul li a:hover
{
	/*border-radius: 40px;
	padding: 4px 12px;*/
	font-size: 23px;
	/*background: #001133;*/
	color: #ffffb3;
}
header.sticky .logo,
header.sticky ul li a
{
	color: #ffffb3;
}
.menu-toggle
{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media (max-width: 991px)
{
	header
	{
		padding: 0 20px;
	}
	.menu-toggle
	{
		font-size: 30px;
		display: block;
	}
	header ul
	{
		/*display: none;*/
		position: absolute;
		width: 100%;
		height: 30vh;
		color: #ffff80;
		transition: 0.5s;
		background: linear-gradient(180deg,#001133,transparent,#001133);
		top: 50px;
		left: -100%;
		display: block;
		text-align: center;
	}
	header ul.active
	{
		left: 0;
	}
	header ul li 
	{
		transition: 0.3s;
		padding: 10px;
		border-bottom: 1px solid rgba(99,99,99,.2);
	}
	header ul li a
	{
		font-size: 12;
		color: #fff;
		transition: 0.3s;
	}
	header ul li:hover
	{
		background: linear-gradient(90deg,#ffffb3,transparent);
	}
	header.sticky
	{
		 background: #001133;
	}
}
@media (max-width: 600px)
{
	header.sticky .logo
	{
		right: 40%;
	}
}



.centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:1000;
    transform: translate(-50%, -50%);
}
.box
{
	position: relative;
	top: 50%;
	/*transform: translate(-50%,-50%);*/
	width: 700px;
	padding: 10px;
	background: rgba(115, 202, 43, 0.096);
	box-sizing: border-box;
	box-shadow: 2px 15px 25px rgba(0,0,0,300);
	border-radius: 10px;
	transition: 0.4s;
}

.box h2{
	font-size: 35px;
	margin: 0 0 30px;
	padding: 0;
	color: rgba(255, 251, 0, 0.555);
	text-align: center;
	transition: 0.2s;
}

.sandhuz
{
    text-decoration: none;
    transition: 0.3s;
    pointer-events: all;
	margin-bottom: 0px;
	margin-top: 10px;
	background: #fff;
	padding: 4px 20px;
	cursor: pointer;
	background: rgba(115, 202, 43, 0.534);
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	border: none;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.sandhuz:hover
{
    transition: 0.3s;
    background: rgba(202, 43, 117, 0.582);
}

.raja
{
    padding: 20px; 
    color: #fff;
}

@media (max-width: 991px)
{
    .box
    {
        width: 400px;
    }
    .box h2
    {
        font-size: 25px;
    }
    .raja
    {
        font-size: 17px;
    }
    .sandhuz
    {
        font-size: 10px;
    }
}